<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <%= image_tag("logo.png") %>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <% if current_student  %>
          <li>
            <%= link_to 'My profile', edit_student_registration_path, class: 'nav-link px-2 text-white' %>
          </li>
          <li>
            <%= link_to 'My Graduation Works', me_graduation_works_path, class: 'nav-link px-2 text-white' %>
          </li>
        <% elsif current_science_worker? %>
          <li>
            <%= link_to 'My profile', edit_employee_registration_path, class: 'nav-link px-2 text-white' %>
          </li>
          <li>
            <%= link_to 'My Graduation Works', me_graduation_works_path, class: 'nav-link px-2 text-white' %>
          </li>
          <li>
            <%= link_to 'Add Graduation Work', new_me_graduation_work_path, class: 'nav-link px-2 text-white' %>
          </li>
          <li>
            <%= link_to 'Generate raport', new_raport_path, class: 'nav-link px-2 text-white' %>
          </li>
        <% elsif current_deans_worker? %>
          <li>
            <%= link_to 'My profile', edit_employee_registration_path, class: 'nav-link px-2 text-white' %>
          </li>
          <li>
            <%= link_to 'Add Graduation Work', new_me_graduation_work_path, class: 'nav-link px-2 text-white' %>
          </li>
          <li>
            <%= link_to 'Generate raport', new_raport_path, class: 'nav-link px-2 text-white' %>
          </li>
        <% end %>
      </ul>

      <%= form_tag(graduation_works_path, method: :get, class: "col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3") do %>
        <%= text_field_tag(:search_phrase, params[:search_phrase], class: "form-control form-control-dark", placeholder: "Search...", aria_label: "Search") %>
      <% end %>

      <% if current_student %>
        <div class="text-end">
          <%= button_to 'Logout', '/students/sign_out', class: "btn btn-warning", method: :delete %>
        </div>
      <% elsif current_science_worker? %>
        <div class="text-end">
          <%= button_to 'Logout', '/employees/sign_out', class: "btn btn-warning", method: :delete %>
        </div>
      <% elsif current_deans_worker? %>
        <div class="text-end">
          <%= button_to 'Logout', '/employees/sign_out', class: "btn btn-warning", method: :delete %>
        </div>
      <% else %>
        <div class="text-end">
          <%= button_to 'For Students', '/students/sign_in', class: "btn btn-warning", method: :get %>
        </div>
        <div class="text-end ml-5">
          <%= button_to 'For Employees', '/employees/sign_in', class: "btn btn-warning", method: :get %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</header>